/*-----------
  COMMONS
------------*/
.row{
    color: white;
}

/*-----------
   HEADER
------------*/
nav{
    width: 100%;
    background-color: #2c3e50;
    line-height: 90px;
}


.hero{
    width: 100%;
    background-color: #1abc9c;
    min-height: 500px;
    margin-bottom: 50px;
}

.container_custom{
    max-width: 750px;
    margin: auto;
}
/*-----------
    MAIN
------------*/
.boxs [class*="col"]{
    background-color: aqua;
    min-height: 500px;
    border: 1px solid black;
}

.about{
    width: 100%;
    background-color: #1abc9c;
    min-height: 700px;
}

.boxs{
    margin-bottom: 50px;
}
.form{
    width: 100%;
    background-color: gray;
    min-height: 500px;
}
/*-----------
   FOOTER
------------*/
.footer{
    width: 100%;
}

.footer_top{
    width: 100%;
    background-color: #3a546d;
    min-height: 500px;
}

.footer_bottom{
    width: 100%;
    background-color: #2c3e50;
    min-height: 100px;
}